* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
}

header {
    text-align: center;
    font-size: 10vw;
    color: white;
    padding: 5vh 0vw;
    background-color: #198733;
}

main {
    text-align: center;
    padding: 5vh 10vw;
    font-size: 8vw;
}